---
layout: default
title: "Group"
permalink: /group/
author_profile: true
---

<!-- Main -->

<div id="main">
  <div id="content" class="container">
    <section>
      <!-- <header>
        <h2>Current Members</h2>
      </header> -->
{% for group in site.data.people %}
  <div class ="row" style="margin-top:20px">
    <div class="col-md-7" >
    <h3>{{group.group}}</h3>
    </div>
  </div>
  
  <div>
    {% for member in group.people %}

      <div class="member-card">
        <div>
        <a href="{{member.url}}">
          <img class="img-thumbnail" width="220", height="220", src="{% if member.githubid  %}https://avatars2.githubusercontent.com/u/{{member.githubid}}?v=3&s=400{% else %}{{member.pic}}{% endif %}">
        </a>
        </div>
        <div style="margin-bottom:15px">
          <center><b>{{member.name}}</b><br>{{member.description}}</br></center></div> 
      </div>

    {% endfor %}
  </div>
{% endfor %}
   <h3>Postdocs</h3>
    <ul>
      <li><a href="http://hlibt.student.ust.hk/">Haoran Li</a></li>
    </ul>
   <h3>PhD Students</h3> 
    <ul>
      <li><a href="https://stonetzheng.github.io/">Tianshi Zheng</a></li>
      <li><a>Baixuan Xu</a></li>
      <li><a href="https://zongqing0068.github.io/">Qing Zong</a></li>
      <li><a>Haochen Shi</a></li>
      <li><a href="https://alexfan.cn/">Wei Fan</a></li>
      <li><a href="https://zhaowei-wang-nlp.github.io/">Zhaowei Wang</a></li>
      <li><a href="https://jiayangcheng.com/">Jiayang Cheng</a></li>
      <li><a href="https://mighty-weaver.github.io/">Weiqi Wang</a></li>
      <li><a href="https://dzy97.github.io/">Zheye Deng</a></li>
      <li><a>Qi Hu</a></li>
      <li><a href="https://dzy97.github.io/">Zihao Wang</a></li>
      <li><a href="http://www.bjx.fun/">Jiaxin Bai</a></li>
      <li><a>Zizheng Lin</a></li>
      <!-- ------------------------- -->
      <li><a href="https://hyz17.github.io/">Yuzhen Huang</a></li>
      <li><a href="https://vicent0205.github.io/">Junteng Liu</a></li>
      <li><a href="https://vpeterv.github.io/">Wei Liu</a></li>
      <li><a href="https://shumkashun.github.io/">Kashun Shum</a></li>
      <li><a href="http://jinghan23.github.io/">Jinghan Zhang</a></li>
      <li><a href="https://jxhe.github.io/group/">Liangjun Zhong</a></li>
      <!-- ------------------------- -->
      <li><a href="https://scholar.google.com/citations?user=ULvoYXgAAAAJ&hl=zh-CN">Zhitao He</a></li>
      <li><a href="https://lukahhcm.github.io/">Yuchen Huang,</a></li>
      <li><a href="https://scholar.google.com/citations?user=5yHRd6kAAAAJ">Dadi Guo</a></li>

    </ul>
   <h3>MPhil Students</h3> 
    <ul>
      <li><a href="https://lcy2723.github.io/">Chunyang Li</a></li>
      <li><a href="https://lucaswychan.github.io/">Lucas Wun Yu CHAN</a></li>
      <li><a>Jason Tsz Ho LI</a></li>
      <li><a href="https://gzone0111.github.io/">Dennis Hong Ting TSANG</a></li>
      <li><a href="https://asifkhan.me/">Asif KHAN</a></li>
      <li><a>Hongyu Luo</a></li>
      <li><a>Andy Yau Wai YIM</a></li>
      <li><a>Zirui Wang</a></li>
      <!-- ------------------------- -->
      <!-- ------------------------- -->
      <li><a href="https://mayrfung.github.io/group/">Zhiyuan Fan</a></li>

    </ul>
   <h3>Research Assistants/Visitors</h3> 
    <ul>
      <li><a>HUANG, Hao</a></li>
      <li><a>WONG, Chun Ka</a></li>
      <li><a>CHEN, Rulin</a></li>
      <li><a>FAN, Yixiang</a></li>
      <li><a>TAN, Shaun Tyler Tan</a></li>
      <li><a>WANG, Hanwen</a></li>
      <li><a>LI, Yu Hong Harry</a></li>
      <li><a>LIU, Jiayu CHUA</a></li>
      <li><a>KWONG, Hyun Fung</a></li>
      <!-- ------------------------- -->
      <li><a href="https://shiqichen17.github.io/">Shiqi Chen</a></li>
      <li><a href="https://jxhe.github.io/group/">Yiyun Deng</a></li>
      <li><a href="https://lockon-n.github.io/">Junlong Li</a></li>
      <li><a href="https://chang-github-00.github.io/-changma/">Chang Ma</a></li>
      <li><a href="https://tongyx361.github.io/">Yuxuan Tong</a></li>
      <li><a href="https://zeng-wh.github.io/about/?lang=en">Weihao Zeng</a></li>
      <li><a href="https://jxhe.github.io/group/">Junlei Zhang</a></li>
      <li><a href="https://jxhe.github.io/group/">Ruochen Zhou</a></li>
      <!-- ------------------------- -->
      <li><a href="https://joeying1019.github.io/">Shijue Huang</a></li>
      <li><a href="https://zhaochen0110.github.io/">Zhaochen Su</a></li>
      <li><a href="https://sterzhang.github.io/">Jianshu Zhang</a></li>
      <li><a>Yumeng Wang</a></li>

    </ul>


<!-- </ul> -->

</section>
</div>
</div>
<!-- /Main -->
