---
layout: default
title: "Group"
permalink: /group/
author_profile: true
---

<!-- Main -->

<div id="main">
  <div id="content" class="container">
    <section>
      <!-- <header>
        <h2>Current Members</h2>
      </header> -->
{% for group in site.data.people %}
  <div class ="row" style="margin-top:20px">
    <div class="col-md-7" >
    <h3>{{group.group}}</h3>
    </div>
  </div>
  
  <div>
    {% for member in group.people %}

      <div class="member-card">
        <div>
        <a href="{{member.url}}">
          <img class="img-thumbnail" width="220", height="220", src="{% if member.githubid  %}https://avatars2.githubusercontent.com/u/{{member.githubid}}?v=3&s=400{% else %}{{member.pic}}{% endif %}">
        </a>
        </div>
        <div style="margin-bottom:15px">
          <center><b>{{member.name}}</b><br>{{member.description}}</br></center></div> 
      </div>

    {% endfor %}
  </div>
{% endfor %}
   <h3>Postdocs</h3>
    <ul>
      <li><a href="http://hlibt.student.ust.hk/">Haoran Li</a></li>
    </ul>
   <h3>PhD Students</h3> 
    <ul>
      <li><a href="https://stonetzheng.github.io/">Tianshi Zheng</a></li>
      <li>Baixuan Xu</li>
      <li><a href="https://zongqing0068.github.io/">Qing Zong</a></li>
      <li>Haochen Shi</li>
      <li><a href="https://alexfan.cn/">Wei Fan</a></li>
      <li><a href="https://zhaowei-wang-nlp.github.io/">Zhaowei Wang</a></li>
      <li><a href="https://jiayangcheng.com/">Jiayang Cheng</a></li>
      <li><a href="https://mighty-weaver.github.io/">Weiqi Wang</a></li>
      <li><a href="https://dzy97.github.io/">Zheye Deng</a></li>
      <li>Qi Hu</li>
      <li><a href="https://dzy97.github.io/">Zihao Wang</a></li>
      <li><a href="http://www.bjx.fun/">Jiaxin Bai</a></li>
      <li>Zizheng Lin</li>
      <!-- ------------------------- -->
      <li><a href="https://hyz17.github.io/">Yuzhen Huang</a></li>
      <li><a href="https://vicent0205.github.io/">Junteng Liu</a></li>
      <li><a href="https://vpeterv.github.io/">Wei Liu</a></li>
      <li><a href="https://shumkashun.github.io/">Kashun Shum</a></li>
      <li><a href="http://jinghan23.github.io/">Jinghan Zhang</a></li>
      <li><a href="https://jxhe.github.io/group/">Liangjun Zhong</a></li>
      <!-- ------------------------- -->
      <li><a href="https://scholar.google.com/citations?user=ULvoYXgAAAAJ&hl=zh-CN">Zhitao He</a></li>
      <li><a href="https://lukahhcm.github.io/">Yuchen Huang</a></li>
      <li><a href="https://scholar.google.com/citations?user=5yHRd6kAAAAJ">Dadi Guo</a></li>

    </ul>
   <h3>MPhil Students</h3> 
    <ul>
      <li><a href="https://lcy2723.github.io/">Chunyang Li</a></li>
      <li><a href="https://lucaswychan.github.io/">Lucas Wun Yu CHAN</a></li>
      <li>Jason Tsz Ho LI</li>
      <li><a href="https://gzone0111.github.io/">Dennis Hong Ting TSANG</a></li>
      <li><a href="https://asifkhan.me/">Asif KHAN</a></li>
      <li>Hongyu Luo</li>
      <li>Andy Yau Wai YIM</li>
      <li>Zirui Wang</li>
      <!-- ------------------------- -->
      <!-- ------------------------- -->
      <li><a href="https://mayrfung.github.io/group/">Zhiyuan Fan</a></li>

    </ul>
   <h3>Research Assistants/Visitors</h3> 
    <ul>
      <li>HUANG, Hao</li>
      <li>WONG, Chun Ka</li>
      <li>CHEN, Rulin</li>
      <li>FAN, Yixiang</li>
      <li>TAN, Shaun Tyler Tan</li>
      <li>WANG, Hanwen</li>
      <li>LI, Yu Hong Harry</li>
      <li>LIU, Jiayu CHUA</li>
      <li>KWONG, Hyun Fung</li>
      <!-- ------------------------- -->
      <li><a href="https://shiqichen17.github.io/">Shiqi Chen</a></li>
      <li><a href="https://jxhe.github.io/group/">Yiyun Deng</a></li>
      <li><a href="https://lockon-n.github.io/">Junlong Li</a></li>
      <li><a href="https://chang-github-00.github.io/-changma/">Chang Ma</a></li>
      <li><a href="https://tongyx361.github.io/">Yuxuan Tong</a></li>
      <li><a href="https://zeng-wh.github.io/about/?lang=en">Weihao Zeng</a></li>
      <li><a href="https://jxhe.github.io/group/">Junlei Zhang</a></li>
      <li><a href="https://jxhe.github.io/group/">Ruochen Zhou</a></li>
      <!-- ------------------------- -->
      <li><a href="https://joeying1019.github.io/">Shijue Huang</a></li>
      <li><a href="https://zhaochen0110.github.io/">Zhaochen Su</a></li>
      <li><a href="https://sterzhang.github.io/">Jianshu Zhang</a></li>
      <li>Yumeng Wang</li>

    </ul>


<!-- </ul> -->

</section>
</div>
</div>
<!-- /Main -->
